<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="images/favicon.ico">

    <title>HCPHES</title>

	<!-- Fonts -->
	<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
	
    <!-- CSS -->
	<link href="/css/fonts.css" rel="stylesheet">
	<link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/layout.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </head>

  <body>
	<div class="wrapper">
		<div class="container">
			<div class="contnt-wrppr">
				<div class="header">
					<div class="header-wrppr">
						<div class="header-lft">
							<img onclick="history.back();" src="/images/btn-back.png" alt="">
						</div>
						<div class="header-mid">
							<h1 class="screen-title">Inspection Details</h1>
						</div>
						<div class="header-rght">
							<img src="/images/btn-share.png" alt="">
						</div>
					</div>
				</div>
				<div class="pg-content">
					<div class="no-violationItem itm-detail">
						<div class="clearfix info-prnt">
							<div class="item-img">
								<div class="img-contnr <%=imgborderclass%>">
									<img class="business-img"  src="<%=iconurl%>" alt="">
								</div>
								<span class="loctd-at"></span>
							</div>
							<div class="item-info">
								<p class="item-name"><%=data[0].name%></p>
								<div class="item-type"><span class="item-ic"><img src="<%=iconurl%>"alt=""></span><span class="item-def"><%=data[0].type%><span></div>
							<p class="item-address"><%=data[0].street%>, <%=data[0].city%> <%=data[0].zip%></p>
								<p class="txt-lastInsp">Last Insp: <%=lastInspection%></p>
							</div>
						</div>
					</div>
					<div>
						<p class="txt-official txt-insp">Inspection Results</p>
						<div class="result-detail">
							<div class="detail-wrppr">
								<% if(inspData) { 
									var index = 0;
								%>								
								<% for(var i =0; i < inspData.length; i++ ) {
									var Foodborneillnesslabconfirmed = '';
									var Foodborneillnessinvestigation = '';
									var Complaint = '';
									var Citation = '';
									var Fooddestroyed = '';
									var Closure = '';
									var LiftedClosure = '';
									var ManagerTrained = '';
									var Correctedsite = '';
									var demerits = 0;
								%>
								<div class="clearfix btn btn-main btn-full btn-insp">
									<span class="insp-date"><%= inspData[i].inspectionDate %></span>
									<span class="demerits" id='span<%= i%>'>40 Demerits</span>
								</div>
								<ul class="insp-icns">
										
										<li style="display:none" class="ic-closure"><img src="/images/ic-closure.png" alt=""></li>
										
										<li style="display:none" class="ic-lifted"><img src="/images/ic-lifted.png" alt=""></li>
										
										<li style="display:none" class="ic-citation"><img src="/images/ic-citation.png" alt=""></li>
										
										<li style="display:none" class="ic-complaint"><img src="/images/ic-complaint.png" alt=""></li>
										
										<li style="display:none" class="ic-investgtn"><img src="/images/ic-investgtn.png" alt=""></li>
										
										<li style="display:none" class="ic-lab"><img src="/images/ic-lab.png" alt=""></li>
										
										<li style="display:none" class="ic-site"><img src="/images/ic-site.png" alt=""></li>
										
										<li style="display:none" class="ic-manager"><img src="/images/ic-manager.png" alt=""></li>
										
										<li style="display:none" class="ic-destroyed"><img src="/images/ic-destroyed.png" alt=""></li>
										
										<input id="hfdemerits<%=i%>" type="hidden" value="<%=demerits%>"/>
									</ul>
								<div id="first-elm" class="detail-data">
									<ul class="clearfix result data-head">
										<li class="col1">Violation</li>
										<li class="col2">Description</li>
										<li class="col3">Demerits</li>
									</ul>
									<% for(var j =0; j < inspData[i].inspdata.length; j++ ) { 
									demerits += parseInt(inspData[i].inspdata[j].demerits);

									if(inspData[i].inspdata[j].foodborne_illness_lab_confirmed == "Yes")
									{
										Foodborneillnesslabconfirmed = '/images/ic-lab.png';
									}
									if(inspData[i].inspdata[j].foodborne_illness_investigation == "Yes")
									{
										Foodborneillnessinvestigation = "/images/ic-investgtn.png";
									}
									if(inspData[i].inspdata[j].complaint == "Yes")
									{
										Complaint = "/images/ic-complaint.png";
									}
									if(inspData[i].inspdata[j].closure == "Yes")
									{
										Closure = "/images/ic-closure.png";
									}
									if(inspData[i].inspdata[j].lifted_closure == "Yes")
									{
										LiftedClosure = "/images/ic-lifted.png";
									}
									if(inspData[i].inspdata[j].trained_manager == "Yes")
									{
										ManagerTrained = "/images/ic-manager.png";
									}
									if(inspData[i].inspdata[j].pounds_food_destroyed == 1)
									{
										Fooddestroyed = "/images/ic-destroyed.png";
									}
									if(inspData[i].inspdata[j].citation_issued == 1)
									{
										Citation = "/images/ic-citation.png";
									}
									if(inspData[i].inspdata[j].corrected_site == 'Yes')
									{
										Correctedsite = "/images/ic-site.png";
									}
									%>
									<ul class="clearfix result data-desc">
									<li class="col1"><%=inspData[i].inspdata[j].violation_number%></li>
										<li class="col2"><%=inspData[i].inspdata[j].requirements%></li>
										<li class="col3"><%=inspData[i].inspdata[j].demerits%></li>
									</ul>
									<%}%>									
									<ul class="insp-icns">
										<% if(Closure != '') { %>
										<script type="text/javascript">
										$(".ic-closure").css("display", "bolck")
										</script>
										<% } if(LiftedClosure != '') { %>
										<script type="text/javascript">
										$(".ic-lifted").css("display", "bolck")
										</script>
										<% } if(Citation != '') { %>
										<script type="text/javascript">
										$(".ic-citation").css("display", "bolck")
										</script>
										<% } if(Complaint != '') { %>
										<script type="text/javascript">
										$(".ic-complaint").css("display", "bolck")
										</script>
										<% } if(Foodborneillnessinvestigation != '') { %>
										<script type="text/javascript">
										$(".ic-investgtn").css("display", "bolck")
										</script>
										<% } if(Foodborneillnesslabconfirmed != '') { %>
										<script type="text/javascript">
										$(".ic-lab").css("display", "bolck")
										</script>
										<% } if(Correctedsite != '') { %>
										<script type="text/javascript">
										$(".ic-site").css("display", "bolck")
										</script>
										<% } if(ManagerTrained != '') { %>
										<script type="text/javascript">
										$(".ic-manager").css("display", "bolck")
										</script>
										<% } if(Fooddestroyed != '') { %>
										<script type="text/javascript">
										$(".ic-destroyed").css("display", "bolck")
										</script>
										<% } %>
										<input id="hfdemerits<%=i%>" type="hidden" value="<%=demerits%>"/>
									</ul>
								</div>
							</div>							
							<% index = i+1; }%>
								<input id="totalItems" type="hidden" value="<%=index%>"/>
							<%}%>
					</div>
				</div>
				<!--
				<div class="pg-content">
					<div class="no-violationItem">
						<div class="clearfix info-prnt">
							<div class="item-img">
								<div class="img-contnr">
									<img src="/images/item-img.jpg" alt="">
								</div>
								<span class="loctd-at"></span>
							</div>
							<div class="item-info">
								<p class="item-name"><%=data.name%></p>
								<div class="item-type"><span class="item-ic"><img src="/images/ic-restaurant-white.png" alt=""></span><span class="item-def"><%=data.type%><span></div>
								<p class="item-address"><%=data.street%>, <%=data.city%> <%=data.zip%></p>
								<p class="txt-lastInsp">Last Inspection: <%=lastInspection%></p>
							</div>
						</div>
					</div>
					<div class="txt-lastUpdt">
						Last Update: <%=updatedAt%>
					</div>
				</div>
			-->
				<div class="footer">
					<div class="footer-wrppr">
						<ul class="clearfix app-nav">
							<li><a href="/" class="link-home"><img src="/images/ic-home.png" alt=""></a></li>
							<li><a href="#" class="link-map"><img src="/images/ic-map.png" alt=""></a></li>
							<li><a href="#" class="link-list"><img src="/images/ic-list.png" alt=""></a></li>
							<li><a href="/complaint/<%=data[0]._id%>" class="link-bubble"><img src="/images/ic-bubble.png" alt=""></a></li>
							<li><a id="more-links" href="#" class="link-more"><img src="/images/ic-more.png" alt=""></a></li>
							<li><a href="/profile" class="link-profile"><img src="/images/ic-profile.png" alt=""></a></li>
							<li><a href="#" class="link-share"><img src="/images/ic-share.png" alt=""></a></li>
							<li><a href="/settings" class="link-settings"><img src="/images/ic-settings.png" alt=""></a></li>
							<li><a href="/help" class="link-help"><img src="/images/ic-help.png" alt=""></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<script>
		var canvasHeight = $(window).height();
		var wrapperLeft = ($(window).width() - parseInt($('.wrapper').css('width').replace("px", ""))) / 2;
		$(document).ready(function(){
			$('.wrapper').css('height', canvasHeight);
			$('.wrapper > .container').css('min-height', canvasHeight);
			$('.contnt-wrppr').css('max-height', canvasHeight);
			$('.wrapper').css('left', wrapperLeft);
		});
		$(document).ready(function(){
			var items = $("#totalItems").val();
			for(var x = 0; x < items; x++)
			{
				$("#span"+x).html($("#hfdemerits"+x).val() + " Demerits");
			}

			$('#more-links').click(function(){
		        if($(this).hasClass('show-more')) {
		          //$(this).parent().parent().animate().css('left', '0');
		          $(this).parent().parent().removeClass('shown');
		          $(this).parent().parent().addClass('not-shown');
		          $(this).removeClass('show-more');
		        }else{
		          //$(this).parent().parent().animate().css('left', '-100px');
		          $(this).parent().parent().removeClass('not-shown');
		          $(this).parent().parent().addClass('shown');
		          $(this).addClass('show-more');
		        }
		    });
		});
	</script>
	<script type="text/javascript" src="/js/biz_image.js"></script>
    <script type="text/javascript" src="/js/push.js"></script>
	<script src="/js/map.js"></script>
	<script type="text/javascript">
		findDistanceFromHere('<%=data[0].lat%>', '<%=data[0].lng%>', ".loctd-at");
	</script>
	<script type="text/javascript">

	get_venue_id('<%=data[0].name%>', '<%=data[0].lat+','+data[0].lng%>', function(err, venue_id){
		console.log(venue_id);
		if(venue_id){
			get_venue_image(venue_id, function(err, image){
				console.log(image);
				if(image){
					$(".business-img").attr("src", image);
				}
			});
		} 
	});

	</script>

</body>
</html>
