<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="images/favicon.ico">

    <title>HCPHES</title>

	<!-- Fonts -->
	<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
	
    <!-- CSS -->
	<link href="css/fonts.css" rel="stylesheet">
	<link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/layout.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </head>

  <body>
	<div class="wrapper">
		<div class="container">
			<div class="contnt-wrppr">
					<div class="app-logo">
						<p>Harris County</p>
						<p class="main-txt">HCPHES<span class="btm-txt"><span>Public Health & Environmental Services</span></span></p>
					</div>
					<p class="txt-official">Ofﬁcial Health Inspections Search App</p>
					<div class="search-block">
						<p class="txt-search">SEARCH BY ADDRESS OR BUSINESS NAME</p>
						<form method="get" action="/search">
							<div class="form-group">
								<div class="clearfix srch-elem">
									<input name="address" type="text" required class="search-box">
									<button class="btn-go" type="submit">GO</button>
								</div>
								<span class="txt-or">OR</span>
								<div><a class="btn btn-primary btn-main" href="/search?address=">SEARCH NEARBY</a></div>
							</div>
						</form>
					</div>
					<div class="no-violationItem">
						<p class="txt-noViolation">Nearest Restaurant with No Violations</p>
						<div class="clearfix info-prnt nearest-res">
							<!-- <div class="item-img">
								<div class="img-contnr">
									<img src="images/item-img.jpg" alt="">
								</div>
								<span class="loctd-at"></span>
							</div>
							<div class="item-info">
								<p class="item-name"><%=record.name%></p>
								<div class="item-type"><span class="item-ic"><img src="images/ic-restaurant-white.png" alt=""></span><span class="item-def"><%=record.type%><span></div>
								<p class="item-address"><%=record.street%> <%=record.city%> - <%=record.zip%></p>
								<p class="txt-lastInsp">Last Inspection: <%=lastInspection%></p>
							</div> -->

							<center><div>
								<img src="/images/loader2.gif">
							</div></center>
						</div>
					</div>
					<div class="txt-lastUpdt">
						
					</div>
			</div>
		</div>
	</div>
	
	<script>
       var canvasHeight = $(window).height();
		var wrapperLeft = ($(window).width() - parseInt($('.wrapper').css('width').replace("px", ""))) / 2;
       $(document).ready(function(){
               $('.wrapper').css('height', canvasHeight);
               $('.wrapper > .container').css('min-height', canvasHeight);
               $('.contnt-wrppr').css('max-height', canvasHeight);
			$('.wrapper').css('left', wrapperLeft);
       });
    </script>
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false&extension=.js&output=embed"></script>
	<script src="/js/map.js"></script>
	<script type="text/javascript">
		//findNearestResult(1, "Restaurant");
		findDistanceFromHere('<%=record.lat%>', '<%=record.lng%>', ".loctd-at");
		findNearestResult(1, "Restaurant");
	</script>
</body>
</html>

