<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/images/favicon.ico">

    <title>HCPHES</title>

	<!-- Fonts -->
	<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
	
    <!-- CSS -->
	<link href="/css/fonts.css" rel="stylesheet">
	<link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/switch/bootstrap-switch.css" rel="stylesheet">
	<link href="/css/layout.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </head>

  <body>
	<div class="wrapper">
		<div class="container">
			<div class="contnt-wrppr">
				<div class="header">
					<div class="header-wrppr">
						<div class="header-lft">
							<img onclick="history.back();" src="/images/btn-back.png" alt="">
						</div>
						<div class="header-mid">
							<h1 class="screen-title">List View</h1>
						</div>
						<div class="header-rght txt-link">
							<span id="popup-link" data-toggle="modal" data-target=".violation-filter">Filter...</span>
						</div>
					</div>
				</div>
				<div class="pg-content">
					<div class="data-list"></div>

					<center class="loading"><div>
						<img src="/images/loader2.gif">
					</div></center>
					<div class="more-databutton" onclick="search('<%=address%>', 'list')">
						<span>More</span>
					</div>
				</div>
				<div class="footer">
					<div class="footer-wrppr">
						<ul class="clearfix app-nav">
							<li><a href="/" class="link-home"><img src="/images/ic-home.png" alt=""></a></li>
							<li><a href="/search?address=<%=address%>" class="link-map"><img src="/images/ic-map.png" alt=""></a></li>
							<li><a href="#" class="link-list"><img src="/images/ic-list.png" alt=""></a></li>
							<li><a href="/complaint/544f4e11224a0ba94087d983" class="link-bubble"><img src="/images/ic-bubble.png" alt=""></a></li>
							<li><a id="more-links" href="#" class="link-more"><img src="/images/ic-more.png" alt=""></a></li>
							<li><a href="/profile" class="link-profile"><img src="/images/ic-profile.png" alt=""></a></li>
							<li><a href="#" class="link-share"><img src="/images/ic-share.png" alt=""></a></li>
							<li><a href="/settings" class="link-settings"><img src="/images/ic-settings.png" alt=""></a></li>
							<li><a href="/help" class="link-help"><img src="/images/ic-help.png" alt=""></a></li>
						</ul>
					</div>
				</div>
				
				<!-- FILTER POPUP -->
				<div class="modal fade violation-filter" tab-index="-1" role="dialog" arailabelledby="mySmallModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
					<div class="modal-dialog modal-sm">
						<div class="modal-content modal-filter">
							<div class="violation-optns">
								<h2 class="filter-title">Select Violation Type</h2>
								<ul class="optns-list">
									<li class="clearfix">
										<span class="optn-title">No Violations</span>
										<span id="f-1-_green" class="optn-control"><input name="_green" type="checkbox" checked></span>
									</li>
									<li class="clearfix">
										<span class="optn-title">Minor Violations</span>
										<span id="f-1-_yellow" class="optn-control"><input name="_yellow" type="checkbox" checked></span>
									</li>
									<li class="clearfix">
										<span class="optn-title">Serious Violations</span>
										<span id="f-1-_red" class="optn-control"><input name="_red" type="checkbox" checked></span>
									</li>
								</ul>
							</div>
							
							<div class="establishment-optns">
								<h2 class="filter-title">Select Establishment Type</h2>
								<ul class="optns-list">
									<%for(var i=0;i<types.length;i++){%>
									<li class="clearfix">
										<span class="optn-title"><%=types[i]%></span>
										<span class="optn-control" id="f-0-<%=i%>"><input name='<%=types[i].replace(/[^a-zA-Z0-9]/g,'_')%>' type="checkbox" checked></span>
									</li>
									<%}%>
								</ul>
							</div>
							
							<div class="filter-btns">
								<div class="btn btn-main" data-dismiss="modal" data-target="violation-filter">Cancel</div>
								<div class="btn btn-main" data-dismiss="modal" onclick="filterResults('list');">Filter</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/switch/highlight.js"></script>
    <script src="/js/switch/bootstrap-switch.js"></script>
    <script src="/js/switch/main.js"></script>
    <script type="text/javascript" src="/js/biz_image.js"></script>
    <script type="text/javascript" src="/js/push.js"></script>
	
	<script>
		var canvasHeight = $(window).height();
		var wrapperLeft = ($(window).width() - parseInt($('.wrapper').css('width').replace("px", ""))) / 2;

		$(document).ready(function(){
			$('.wrapper').css('height', canvasHeight);
			$('.wrapper > .container').css('min-height', canvasHeight);
			$('.contnt-wrppr').css('max-height', canvasHeight);
			$('.wrapper').css('left', wrapperLeft);
			$('#popup-link').click(function(){
				$('.modal-backdrop').css('left', wrapperLeft);
			})
		})
		
		//switch settings
		$.fn.bootstrapSwitch.defaults.onText = '';
		$.fn.bootstrapSwitch.defaults.offText = '';
		
		//detail page inspection buttons toggle animation
		$(document).ready(function(){
			$('.detail-wrppr > .detail-data').not('#first-elm').css('display', 'none');
			$('.detail-wrppr > .btn-insp').click(function(){
				if($(this).parent().children('.detail-data').css('display') == 'block'){
					$('.detail-wrppr > .detail-data').slideUp('slow');
					return;
				}
				$('.detail-wrppr > .detail-data').slideUp('slow');
				$(this).parent().children('.detail-data').slideDown('slow');
			})

			$('#more-links').click(function(){
		        if($(this).hasClass('show-more')) {
		          //$(this).parent().parent().animate().css('left', '0');
		          $(this).parent().parent().removeClass('shown');
		          $(this).parent().parent().addClass('not-shown');
		          $(this).removeClass('show-more');
		        }else{
		          //$(this).parent().parent().animate().css('left', '-100px');
		          $(this).parent().parent().removeClass('not-shown');
		          $(this).parent().parent().addClass('shown');
		          $(this).addClass('show-more');
		        }
		      })
		});
	</script>
	<script src="http://maps.googleapis.com/maps/api/js?sensor=false&extension=.js&output=embed"></script>
	  <script src="/js/scripts.js"></script>
	  <script src="/js/map.js"></script>
	  <script type="text/javascript">
	    search('<%=address%>', "list");
	    // filterTypeOptions = '<%=types%>';
	    // filterTypeOptions = filterTypeOptions.split(",").replace(/[^a-zA-Z0-9]/g,'_');

	    $('input[name="_green"]').on('switchChange.bootstrapSwitch', function(event, state) {
	    	if(state){
	    		var index = 0;
			 	for(var i = 0; i < filterCategoryType.length; i++){
			 		if(filterCategoryType[i] == "_green") index = i;
			 	}
			 	filterCategoryType.splice(index, 1);
	    	} else {
	    		filterCategoryType.push("_green");
	    	}
	    	console.log(filterCategoryType);
		});
		$('input[name="_yellow"]').on('switchChange.bootstrapSwitch', function(event, state) {
		 	if(state){
	    		var index = 0;
			 	for(var i = 0; i < filterCategoryType.length; i++){
			 		if(filterCategoryType[i] == "_yellow") index = i;
			 	}
			 	filterCategoryType.splice(index, 1);
	    	} else {
	    		filterCategoryType.push("_yellow");
	    	}
	    	console.log(filterCategoryType);
		});

		$('input[name="_red"]').on('switchChange.bootstrapSwitch', function(event, state) {
		 	if(state){
	    		var index = 0;
			 	for(var i = 0; i < filterCategoryType.length; i++){
			 		if(filterCategoryType[i] == "_red") index = i;
			 	}
			 	filterCategoryType.splice(index, 1);
	    	} else {
	    		filterCategoryType.push("_red");
	    	}
	    	console.log(filterCategoryType);
		});

		$('input[name="_green"]').bootstrapSwitch('state', false, false);
		$('input[name="_yellow"]').bootstrapSwitch('state', false, false);
		$('input[name="_red"]').bootstrapSwitch('state', false, false);

		<% for(var i = 0; i < types.length; i++){%>

			$('input[name="<%=types[i].replace(/[^a-zA-Z0-9]/g,'_')%>"]').on('switchChange.bootstrapSwitch', function(event, state) {
		 	if(state){
	    		var index = 0;
			 	for(var i = 0; i < filterType.length; i++){
			 		if(filterType[i] == "<%=types[i].replace(/[^a-zA-Z0-9]/g,'_')%>") index = i;
			 	}
			 	filterType.splice(index, 1);
	    	} else {
	    		filterType.push("<%=types[i].replace(/[^a-zA-Z0-9]/g,'_')%>");
	    	}
		});

		$('input[name="<%=types[i].replace(/[^a-zA-Z0-9]/g,'_')%>"]').bootstrapSwitch('state', false, false);
		filterTypeOptions.push("<%=types[i].replace(/[^a-zA-Z0-9]/g,'_')%>");

		<%}%>
	</script>
</body>
</html>
